:root {
    --clr-fg: #EBEBEB;
    --clr-bg: #131321;
    --clr-subtle: #898B91;
    --clr-accent: #11C5A5;

    --font-family: 'Urbanist', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

h1 {
    font-size: 2rem;
}

.flexbox {
    display: flex;
}

.clr-green {
    color: var(--clr-accent);
}

.center {
    text-align: center;
}

.header {
    background-color: var(--clr-bg);
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.header__menu-icon {
    color: var(--clr-fg);
}

.header__logo {
    width: 3rem;
}

.hero {
    color: var(--clr-fg);
    background-color: var(--clr-bg);
    background-image: url(./res/logo-backsplash-svg.svg);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 500px;
    padding: 7rem 3rem;
}

.introduction h1 {
    margin-bottom: 2rem;
}

.btn {
    all: unset;
    margin: 5rem 0;
}

.btn--cta {
    background-color: var(--clr-accent);
    padding: 1rem 1.5rem;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
}

